/* ==================== Google fonts ==================== */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* ==================== CSS Variables ==================== */
:root{

    /* ==================== Font ==================== */
    --heading : 2.19rem;
    --medium-heading: 1.56rem;
    --font: 1.2rem;
    --small-font: 0.88rem;

    /* =============== background color =============== */
    --font-color: rgba(255, 249, 216, 0.82);
    --heading-color: rgb(255, 255, 255);
    --bg-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
    --container-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(59, 50%, 30%) 100%);
    --dark-container-color: linear-gradient(90deg, hsl(103, 33%, 27%) 0%, hsl(57, 56%, 33%) 100%);
    --btn-bg-color: #F4511F;

    /* ==================== Padding for btn ==================== */
    --padding-small-btn: 16px 28px;
}

/* ==================== Flex ====================: By Snigdhendu */
.fflex_row{
    display: flex;
    align-items: center;
}
.flex_row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}

/* ==================== BASE ====================: By Snigdhendu */
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html{
  scroll-behavior: smooth;
}

/* ==================== Body ====================: By Snigdhendu */
body{
    background: var(--bg-color);
    padding: 0 13%;
    overflow-x: hidden;
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ==================== Nav Bar ====================: By Snigdhendu */
.nav_bar{
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 80%;
    z-index: 5;
    height: 5rem;
    justify-content: space-between;
    color: var(--heading-color);
}
.logo_img{
    width: 40px;
    margin-right: 15px;
}
.three_bar{
    position: fixed;
    left: 90%;
    visibility: hidden;
}
.menu{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

/* === Animated underline for nav menu ===: By Snigdhendu */

.nav-underline {
    position: absolute;
  bottom: 10px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: all 0.3s ease; /* ✅ Smooth transition */
  border-radius: 10px;
}

.menu a {
  /* position: relative; */
  padding: 10px 15px;
}


.support{
    padding: 16px 28px;
    border-radius: 50px;
    border: 2px solid white;
}

/* ==================== Home Page ====================: By Snigdhendu */

/* ==================== Home: 2nd page ==================== */
.home_s1{
    overflow-y: hidden;
    margin-top: 100px;
    padding: 0px 100px;
    background: var(--container-color);
    border-radius: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.261);
}
.home_s1_img{
    position: relative;
    top: 4px;
    width: 235px;
    filter: drop-shadow(10px 10px 10px rgb(250, 250, 250));
}
.home_s1_txt{
    height: 550px;
    margin-left: 15%;
    gap: 30px;
}
.home_s1_txt h1{
    font-size: 80px;
    color: var(--heading-color);
}
.home_s1_txt p{
    line-height: 25px;
}
.explor{
    position: relative;
    top: -40px;
    align-self: flex-end;
    padding: 16px 28px;
    border-radius: 10px;
    background-color: var(--btn-bg-color);
}

/* ==================== Auto Swiper :  Home: page 3 ==================== */
.home_s2_div{
    padding-top: 100px;
    overflow: hidden;
    width: auto;
    display: flex;
}
.home_name{
    font-size: 18px;
    color: var(--heading-color);
    font-weight: 800;
}
.home_s2_left img{
    background-color: transparent;
    margin: 0px 100px;
    width: 250px;
    margin-left: 50px;
}
.home_s2_left_down{
    align-self: flex-start;
    flex-direction: row-reverse;
    gap: 15px;
    margin-left: 60px;
    justify-content: center;
}
.home_s2_left_txt{
    align-self: flex-end;
}
/* .stick{
    position: relative;
    top: 3px;
    left: 0px;
} */
.round{ 
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50px;
}
.line{
    width: 1.5px;
    height: 80px;
    background-color: white;
    margin-bottom: 10px;
}
.home_name,
.home_sub-name{
    align-self: flex-end;
}
.home_s2_right{
    margin: 35px 150px 0px 50px;
}
.home_s2_right_3_txt{
    position: relative;
    top: -15px;
}
.home_s2_right_3_txt .home_s2_heading{
    margin-bottom: 5px;
}
.home_s2_heading{
    color: var(--heading-color);
    font-size: 65px;
    font-weight: 900;
    margin: 10px 0px 25px 0px;
    line-height: 65px;
}
.home_s2_btn{
    display: flex;
    justify-content: space-between;
}
.co{
    padding: var(--padding-small-btn);
    background-color: var(--btn-bg-color);
    border-radius: 10px;
    position: relative;
    top: 50px;
}
.track{
    position: relative;
    top: 66px;
}

/* ==================== Home: 3nd page (Fev. drinks) ==================== */
.home_s3 h2{
    margin: 0px 0px 60px 0px;
    font-size: var(--medium-heading);
    color: var(--heading-color);
}
.home_s3_div{
    width: 25%;
    margin: 50px;
    align-self: flex-start;
    background-color: var(--bg-color);
}
.home_s3_img{
    width: 200px;
    margin-bottom: 20px;
}
.home_s3_eye{
    align-self: flex-end;
    padding-right: 20px;
    cursor: pointer;
}
.home_s3_div h3{
    color: var(--heading-color);
}
.home_s3_div p{
    margin-top: 10px;
    text-align: center;
}

/* ==================== About ====================: By Snigdhendu */
.about{
    margin-top: 100px;
    justify-content: space-evenly;
}
.about_content{
    align-items: flex-start;
    gap: 40px;
}
.about_content h2{
    font-size: var(--medium-heading);
    color: var(--heading-color);
}
.about_content p{
    width: 400px;
}
.about_content a{
    background-color: var(--btn-bg-color);
    padding: var(--padding-small-btn);
    border-radius: 10px;
}
.about_img{
    width: 200px;
}
.drinks_s1_divs{
    gap: 50px;
    margin: 50px 0px;
}

/* ==================== Drinks ====================: By Snigdhendu */
.drinks{
    margin: 100px 0px;
}

/* ==================== Drinks 1st page ==================== */
.drinks_s1 h1{
    color: white;
    margin-bottom: 30px;
}
.drinks_s1_divs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.drinks_s1_div{
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(24, 24, 24, 0.385);
    width: 220px;
    height: 300px;
}
.drinks_s1_div img{
    width: 150px;
}
.drinks_s1_div h3{
    margin: 5px 0px;
}
.drinks_s1_div p{
    font-size: var(--small-font);
}
.drinks_s1_div i{
    align-self: flex-end;
}
.amount{
    margin: 5px 0px;
    font-weight: 700;
}
.drinks_eye{
    padding: 8px;
    position: relative;
    top: -10px;
    left: 50px;
    visibility: hidden;
}

/* ==================== Drinks 2nd page ==================== */
.drinks_s2{
    overflow: hidden;
    margin: 0rem 5rem;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
    background: var(--container-color);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.361);
    border-radius: 20px;
}
