/* ==================== Google fonts ==================== */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* ==================== CSS Variables ==================== */
:root{

    /* ==================== Font ==================== */
    --heading : 2.19rem;
    --medium-heading: 1.56rem;
    --font: 1.2rem;
    --small-font: 0.88rem;

    /* =============== background color =============== */
    --font-color: rgba(255, 249, 216, 0.82);
    --heading-color: rgb(255, 255, 255);
    --bg-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
    --container-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(59, 50%, 30%) 100%);
    --dark-container-color: linear-gradient(90deg, hsl(103, 33%, 27%) 0%, hsl(57, 56%, 33%) 100%);
    --btn-bg-color: #F4511F;

    /* ==================== Padding for btn ==================== */
    --padding-small-btn: 16px 28px;
}

/* ==================== Flex ====================: By Snigdhendu */
.fflex_row{
    display: flex;
    align-items: center;
}
.flex_row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}

/* ==================== BASE ====================: By Snigdhendu */
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html{
  scroll-behavior: smooth;
}

/* ==================== Body ====================: By Snigdhendu */
body{
    background: var(--bg-color);
    padding: 0 13%;
    overflow-x: hidden;
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ==================== Nav Bar ====================: By Snigdhendu */
.nav_bar{
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 80%;
    z-index: 5;
    height: 5rem;
    justify-content: space-between;
    color: var(--heading-color);
}
.logo_img{
    width: 40px;
    margin-right: 15px;
}
.three_bar{
    position: fixed;
    left: 90%;
    visibility: hidden;
}
.menu{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

/* === Animated underline for nav menu ===: By Snigdhendu */

.nav-underline {
    position: absolute;
  bottom: 10px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: all 0.3s ease; /* ✅ Smooth transition */
  border-radius: 10px;
}

.menu a {
  /* position: relative; */
  padding: 10px 15px;
}


.support{
    padding: 16px 28px;
    border-radius: 50px;
    border: 2px solid white;
}

/* ==================== Home Page ====================: By Snigdhendu */

/* ==================== Home: 2nd page ==================== */
.home_s1{
    overflow-y: hidden;
    margin-top: 100px;
    padding: 0px 100px;
    background: var(--container-color);
    border-radius: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.261);
}
.home_s1_img{
    position: relative;
    top: 4px;
    width: 235px;
    filter: drop-shadow(10px 10px 10px rgb(250, 250, 250));
}
.home_s1_txt{
    height: 550px;
    margin-left: 15%;
    gap: 30px;
}
.home_s1_txt h1{
    font-size: 80px;
    color: var(--heading-color);
}
.home_s1_txt p{
    line-height: 25px;
}
.explor{
    position: relative;
    top: -40px;
    align-self: flex-end;
    padding: 16px 28px;
    border-radius: 10px;
    background-color: var(--btn-bg-color);
}

/* ==================== Auto Swiper :  Home: page 3 ==================== */
.home_s2_div{
    padding-top: 100px;
    overflow: hidden;
    width: auto;
    display: flex;
}
.home_name{
    font-size: 18px;
    color: var(--heading-color);
    font-weight: 800;
}
.home_s2_left img{
    background-color: transparent;
    margin: 0px 100px;
    width: 250px;
    margin-left: 50px;
}
.home_s2_left_down{
    align-self: flex-start;
    flex-direction: row-reverse;
    gap: 15px;
    margin-left: 60px;
    justify-content: center;
}
.home_s2_left_txt{
    align-self: flex-end;
}
/* .stick{
    position: relative;
    top: 3px;
    left: 0px;
} */
.round{ 
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50px;
}
.line{
    width: 1.5px;
    height: 80px;
    background-color: white;
    margin-bottom: 10px;
}
.home_name,
.home_sub-name{
    align-self: flex-end;
}
.home_s2_right{
    margin: 35px 150px 0px 50px;
}
.home_s2_right_3_txt{
    position: relative;
    top: -15px;
}
.home_s2_right_3_txt .home_s2_heading{
    margin-bottom: 5px;
}
.home_s2_heading{
    color: var(--heading-color);
    font-size: 65px;
    font-weight: 900;
    margin: 10px 0px 25px 0px;
    line-height: 65px;
}
.home_s2_btn{
    display: flex;
    justify-content: space-between;
}
.co{
    padding: var(--padding-small-btn);
    background-color: var(--btn-bg-color);
    border-radius: 10px;
    position: relative;
    top: 50px;
}
.track{
    position: relative;
    top: 66px;
}

/* ==================== Home: 3nd page (Fev. drinks) ==================== */
.home_s3 h2{
    margin: 0px 0px 60px 0px;
    font-size: var(--medium-heading);
    color: var(--heading-color);
}
.home_s3_div{
    width: 25%;
    margin: 50px;
    align-self: flex-start;
    background-color: var(--bg-color);
}
.home_s3_img{
    width: 200px;
    margin-bottom: 20px;
}
.home_s3_eye{
    align-self: flex-end;
    padding-right: 20px;
    cursor: pointer;
}
.home_s3_div h3{
    color: var(--heading-color);
}
.home_s3_div p{
    margin-top: 10px;
    text-align: center;
}

/* ==================== About ====================: By Snigdhendu */
.about{
    margin-top: 100px;
    justify-content: space-evenly;
}
.about_content{
    align-items: flex-start;
    gap: 40px;
}
.about_content h2{
    font-size: var(--medium-heading);
    color: var(--heading-color);
}
.about_content p{
    width: 400px;
}
.about_content a{
    background-color: var(--btn-bg-color);
    padding: var(--padding-small-btn);
    border-radius: 10px;
}
.about_img{
    width: 200px;
}
.drinks_s1_divs{
    gap: 50px;
    margin: 50px 0px;
}

/* ==================== Drinks ====================: By Snigdhendu */
.drinks{
    margin: 100px 0px;
}

/* ==================== Drinks 1st page ==================== */
.drinks_s1 h1{
    color: white;
    margin-bottom: 30px;
}
.drinks_s1_divs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.drinks_s1_div{
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(24, 24, 24, 0.385);
    width: 220px;
    height: 300px;
}
.drinks_s1_div img{
    width: 150px;
}
.drinks_s1_div h3{
    margin: 5px 0px;
}
.drinks_s1_div p{
    font-size: var(--small-font);
}
.drinks_s1_div i{
    align-self: flex-end;
}
.amount{
    margin: 5px 0px;
    font-weight: 700;
}
.drinks_eye{
    padding: 8px;
    position: relative;
    top: -10px;
    left: 50px;
    visibility: hidden;
}

/* ==================== Drinks 2nd page ==================== */
.drinks_s2{
    overflow: hidden;
    margin: 0rem 5rem;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
    background: var(--container-color);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.361);
    border-radius: 20px;
}
.drinks_s2 img{
    width: 200px;
}
.drinks_s2_txt p{
    font-size: var(--medium-heading);
    font-weight: 800;
    color: var(--heading-color);
    margin-bottom: 10px;
}
.drinks_s2_txt a{
    padding: var(--padding-small-btn);
    background-color: var(--btn-bg-color);
    border-radius: 10px;
    margin-top: 20px;
}


/* ==================== New ====================: By Snigdhendu */
.new h1{
    margin-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


/* ==================== Products , Limited Edition ====================: By Snigdhendu */
.products{
    padding: 30px;
    width: 900px;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 100px;
    scrollbar-width: none;

}
.product{
    min-width: 233px !important;
    max-width: 233px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 350px;
    border-radius: 20px;
    background: var(--container-color);
    box-shadow: 0 8px 42px rgba(0, 0, 0, 0.269);
}
.le p,
.product p{
    background-color: var(--btn-bg-color);
    padding: 4px 7px;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    top: 15px;
    left: -32%;
}
.le img,
.product img{
    width: 250px;
    padding: 0px 30px;
}
.le h5,
.product h5{
    margin: 6px 0px 25px 0px;
}
.le-price,
.product-price{
    display: flex;
    gap: 10px;
}
.original{
    color: red;
    text-decoration: line-through;
    font-size: 14px;
    align-self: center;
}
.le-eye,
.product_eye{
    align-self: flex-end;
    border-radius: 10px;
    padding: 9px;
    position: relative;
    top: 5px;
    left: 50px;
    visibility: hidden;
}
.limited_edition{
    margin-top: 100px;
}

.back_div{
    font-size: 30px;
    margin-right: 60px;
}
.next_div{
    font-size: 30px;
    margin-left: 60px;
}


/* ======================= Footer =======================: By Snigdhendu */
.footer h1{
    margin: 150px 0px 50px 0px;
}
.sub_heading{
    width: 350px;
    font-size: var(--font);
    text-align: center;
    margin-bottom: 30px;
}
.email{
    height: 100px;
    background: var(--container-color);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.246);
    width: 35rem;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 100px;
}
.email input{
    background-color: transparent;
    color: white;
}
::placeholder{
    color: white;
}
.email button{
    width: 160px;
    height: 60px;
    background-color: var(--btn-bg-color);
    border-radius: 10px;
    color: white;
    font-size: var(--font);
}
.footer_content{
    width: 110%;
    justify-content: space-evenly;
}
.footer_img1{
    position: absolute;
    left: -1vw;
    width: 170px;
}
.fd{
    align-items: flex-start;
}
.fd_btns{
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}
.fd-1 h4{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.fd-1 img{
    position: relative;
    top: -20px;
    width: 20px;
    transform: rotate(50deg);
}
.fd-1_btns{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.fd a{
    font-size: 14px;
}
.footer_link{
    text-decoration: none;
    color: var(--font-color);
}
.footer_img2{
    position: absolute;
    right: 0vw;
    width: 110px;
}
hr {
  border: none;
  height: 1px;
  background-color: white; /* or any visible color */
  margin: 30px 0; /* optional spacing */
  width: 100%;
}
.footer__copy{
    margin-bottom: 50px;
}
.portfolio{
    color: white;
    font-weight: 700;
    background-color: transparent;
}




#scrollToTopBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 28px;
  background-color: var(--btn-bg-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#scrollToTopBtn:hover {
  background-color: #d13f00;
}





/* ======================= Swiper ======================= */
.swiper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.swiper-slide,
.swiper-slide {
    display: flex !important;
    flex-direction: row !important;
}


.le i{
    background-color: var(--btn-bg-color);
    align-self: flex-end;
    border-radius: 10px;
    padding: 9px;
    position: relative;
    top: 5px;
    left: 50px;
    visibility: hidden;
}
.swiper.le_divs {
  width: 90%;
  max-width: 1000px;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
  height: auto !important;
}

.le {
    overflow: hidden;
    background: var(--container-color);
    color: #fff;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    height: auto !important;
    margin-top: 50px;
}

.le img {
  width: 180px;
  height: auto;
  object-fit: contain;
}

.le-price {
  display: flex;
  gap: 10px;
}

.discounted {
  font-weight: bold;
}

.original {
  text-decoration: line-through;
  color: red;
}

.swiper-pagination {
  text-align: center;
  margin-top: 10px;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .swiper-slide {
    font-size: 16px;
    height: 360px;
  }
}

@media (max-width: 640px) {
  .swiper-slide {
    height: 330px;
  }
}



/* ======================= Hover effect =======================: By Snigdhendu */
.drinks_s1_div:hover .drinks_eye{
    visibility: visible;
    background-color: var(--btn-bg-color);
    left: 0px;
    transition: all 0.6s ease-out 0.1s;
}
.about_img:hover{
    filter: drop-shadow(0px -5px 15px rgb(250, 250, 250));
    transition: all 0.6s ease 0.1s;
}
.product:hover .product_eye{
    visibility: visible;
    background-color: var(--btn-bg-color);
    left: 0px;
    transition: all 0.6s ease-out 0.1s;
}

.le:hover .le_eye {
    visibility: visible;
    background-color: var(--btn-bg-color);
    left: 0px;
    transition: all 0.6s ease-out 0.1s;
}





/* ======================= Magnify animation =======================: By Snigdhendu */
.cssanimation, .cssanimation span {
    animation-duration: .6s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leMagnify span { animation-name: leMagnify }
@keyframes leMagnify {
    50% {
        transform: scale(1.8);
        letter-spacing: 26px
    }
}

/* ==================== Scroll Animation ====================: By Snigdhendu */
.scroll-fade-up {
    position: relative;
    top: -100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-fade-up.is-visible {
    opacity: 1;
    transform: translateY(0);
    position: relative;
    top: 0px;
    transition: all 0.6s ease-out 0s;
}

.scroll-fade-left {
    position: relative;
    left: -50px;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.is-visible-left {
    opacity: 1;
    position: relative;
    left: 0px;
    transition: all 0.5s ease-in 0.4s;
}

.scroll-fade-right {
    position: relative;
    right: -70px;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.is-visible-right {
    opacity: 1;
    position: relative;
    right: 0px;
    transition: all 0.5s ease-in 0.4s;
}


/* ==================== Responsive Fixes ====================: By Snigdhendu */

@media (max-width: 1335px) {
    .home_s2_heading{
        font-size: 45px;
        line-height: 45px;
    }
    .home_s2_left img{
        width: 200px;
        margin: 0px 150px;
    }
    .home_s2_right{
        width: 100%;
        margin: 10px 0px;
    }
    .home_s2_left_down{
        margin-left: 120px;
    }
    .home_s2_btn{
        display: flex;
        flex-direction: column;
    }
    .co{
        width: 140px;
    }
    .home_s1_txt h1{
        font-size: 50px;
    }
    .home_s1{
        padding: 0px 40px;
    }
    .drinks_s2{
        margin: 100px 0px 0px 0px;
    }
}

@media (max-width: 1100px) {
    .products_divs{
        width: 100%;
    }
}

@media (max-width: 1064px) {
    body{
        padding: 0% 10% 0% 8%;
    }
    .menu{
        width: 60%;
    }
    .co{
        top: 30px;
        width: 150px;
        display: flex;
        justify-content: center;
    }
    .track{
        top: 40px;
    }
    .limited_edition{
        width: 98vw;
        align-self: center;
        margin-left: 2vw;
    }
    .le h3{
        font-size: 20px;
        text-align: center;
    }
    .footer_img1,
    .footer_img2{
        align-self: flex-end;
    }
    .footer_content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 20vw;
        margin-bottom: 50px;
    }
    .fd{
        margin-top: 50px;
    }
    .fd-1 p{
        display: flex;
        justify-content: center;
        padding-right:20px;
    }
}

@media(max-width: 970px){
    .home_s2_left img{
        width: 200px;
        margin: 0px 100px;
    }
    .home_s2_left_down{
        margin-left: 70px;
    }
}

@media(max-width: 890px){
    .nav_bar{
        width: 90vw;
    }
    .home_s3_divs{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home_s3_div{
        width: 30%;
    }
    .home_s1{
        height: auto;
    }
    .home_s1_img{
        width: 200px;
        top: 5px;
    }
    .home_s1_txt{
        height: auto;
        height: 350px;
    }
    .home_s1_txt h1{
        font-size: 40px;
        margin-top: 20px;
    }
    .home_s1_txt p{
        font-size: 16px;
        line-height: 20px;
    }
}

@media(max-width: 840px){
    .home_s2_heading{
        font-size: 35px;
        line-height: 33px;
    }
    .home_s1_txt{
        margin-left: 50px;
        position: relative;
        top: -50px;
    }
    .home_s1_txt h1{
        font-size: 37px;
        line-height: 37px;
    }
    .home_s1_txt a{
        top: -20px;
    }
    .drinks_s1_divs{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 760px){
    body{
        padding: 0% 5%;
    }
    .about_img{
        width: 150px;
    }
    .about_content{
        width: 50%;
    }
    .about_content p{
        width: 100%;
    }
    .drinks_s2{
        width: 100%;
        gap: 0px;
        justify-content: space-evenly;
    }
}
@media(max-width: 700px){
    .logo{
        font-size: 13px;
    }
    .logo_img{
        width: 30px;
    }
    .menu{
        font-size: 14px;
        width: 60%;
    }
    .home_s2_left img{
        margin: 0px 70px;
    }
    .home_s2_left_down{
        margin-left: 40px;
    }
    .footer_content{
        align-items: flex-start;
        padding: 0px 80px 0pc 130px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .fd-1{
        grid-column: 1 / -1;
    }
    .fd_btns{
        margin-top: 10px;
    }
    .fd{
        margin-top: 30px;
    }
}
@media(max-width: 660px){
    .logo{
        font-size: 12px;
    }
    .home_s2_left{
        width: 300px;
    }
    .home_s2_left_down{
        margin: 20px;
    }
    .home_s1_txt{
        gap: 10px;
    }
    .home_s1_txt h1{
        font-size: 30px;
        line-height: 30px;
    }
    .home_s2_right{
        /* margin-top: 20px; */
    }
    .explor{
        margin-top: 30px;
    }
    .footer_content{
        padding: 0px 90px 0pc 140px;
    }
    .email{
        width: 95%;
    }
}
@media(max-width: 606px){
    .logo h1{
        width: 200%;
    }
    .footer_img2{
        width: 100px;
    }
    .footer_img1{
        width: 140px;
    }
    .footer_content{
        padding: 0px 90px 0pc 120px;
    }
    .home_s1{
        padding-right: 20px;
    }
    .home_s1 p{
        font-size: 15px;
        line-height: 17px;
    }
    .home_s2_left{
        width: 250px;
    }
    .home_s2_left_down{
        margin: 0px;
    }
    .about{
        margin-top: 50px;
    }
    .about_content{
        width: 50%;
    }
    .drinks_s1{
        margin-top: 100px;
    }
    .drinks_s2 img{
        width: 170px;
    }
    .drinks_s2 p{
        font-size: 20px;
    }
    .home_s3_div {
        width: 80%;
    }
    .home_s3_img{
        width: 250px;
    }
}
@media(max-width: 575px){
    .fd a{
        font-size: 12px;
    }
    .footer_content{
        padding: 0px 90px 0pc 100px;
        gap: 5px;
    }
    .fd-4{
        width: 150%;
    }
    .fd-4 h4{
        width: 70%;
    }
}
@media(max-width: 595px){
    .about{
        width: 80%;
        margin-left: 10%;
    }
}
/* @media(max-width: 550px){
    .le{
        width: 200px;
    }
} */
@media(max-width: 532px){
    .home_s2_left{
        width: 200px;
    }
    .home_s2_left img{
        width: 170px;
    }
    .home_s2_heading{
        font-size: 30px;
    }
    .home_s1{
        height: 450px;
    }
    .home_s1_img{
        width: 170px;
        top: 30px;
    }
    .home_s1_txt{
        margin-left: 30px;
    }
    .drinks_s1_divs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 517px){
    .fd-2 h4,
    .fd-3 h4{
        height: 39.22px;
    }
}
@media(max-width: 509px){
    .home_s1{
        padding: 0px 15px 20px 20px;
    }
    .about h2{
        width: 70vw;
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 490px){
    .products{
        padding: 25px;
    }
    .back_div{
        margin-right: 10px;
    }
    .next_div{
        margin-left: 10px;
    }
    .footer_content h4{
        font-size: 15px;
    }
}
@media(max-width: 450px){
    .home_s1{
        background-image: url("img/img3.png");
        background-size: contain;
        /* backdrop-filter: blur(5px); */
        /* -webkit-backdrop-filter: blur(50px); */
        background-color: rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
        background-position: center; /* 👈 change this */
        padding-bottom: 0px;
    }
    .home_s1_img{
        display: none;
    }
    .home_s1_content{
        padding-top: 50px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    .home_s1 p{
        color: white;
    }
    .home_s1_txt{
        top: 20px;
    }
    .home_s1{
        margin-top: 100px;
    }
    .drinks_s2_txt a{
        width: 100px;
        padding: 10px 15px;
    }
}
@media(max-width: 440px){
    .home_s2_div{
        padding-bottom: 40px;
        margin-right: 0px;
    }
    .home_s2_left{
        position: fixed;
        left: 55%;
        top: 85px;
    }
    .home_s2_left img{
        position: relative;
        left: -20px;
        bottom: -20px;
        margin: 0px 0px 130px 30px;
        width: 100px;
        padding-right: 15px;
    }
    .stick{
        display: none;
    }
    .home_s2_right{
        z-index: 3;
    }
    .co{
        margin-left: 10px;
    }
    .home_s3 h2{
        font-size: 17px;
    }
    .footer_content{
        gap: 10px;
        padding: 0px 70px;
    }
    .footer_img1{
        width: 100px;
        left: -17px;
    }
    .footer_img2{
        width: 80px;
    }
    .fd-4{
        width: 110px;
    }
}
@media(max-width: 402px){
    .home_name{
        font-size: 16px;
    }
    .home_sub-name{
        font-size: 14px;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .about h2{
        align-self: flex-start;
        justify-content: center;
    }
    .about_content{
        width: 100%;
    }
    .about p{
        text-align: center;
    }
    .about a{
        align-self: center;
    }
    .about_img{
        width: 100px;
        align-self: center;
        margin-top: 50px;
    }
    .drinks_s2_txt{
        text-align: center;
        padding-right: 10px;
    }
    .drinks_s1{
        margin-top: 50px;
    }
    .email{
        height: 170px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .email input{
        border: 1px solid rgb(102, 102, 102);
        height: 100px;
        width: 100%;
        border-radius: 10px;
        padding-left: 10px;
        background: var(--bg-color);
    }
    .submit{
        margin-top: 10px;
        padding: var(--padding-small-btn);
    }
    .footer_content{
        height: 680px;
        display: flex;
        flex-direction: column;
    }
    .footer_content h4{
        height: auto;
    }
    .footer_img1{
        position: relative;
        left: 4rem;
        top: 300px;
        width: 150px;
    }
    .footer_img2{
        position: relative;
        width: 120px;
        left: 3rem;
        top: -11rem;
    }
}
@media(max-width: 365px){
    .home_has h3{
        width: 190px;
        font-size: 16px;
    }
    .home_s2_heading{
        font-size: 25px;
    }
    .home_s2_content{
        font-size: 15px;
        line-height: 16px;
    }
    .co{
        width: 40%;
        font-size: 15px;
        padding: 10px 5px;
    }
    .home_s2_left_txt{
        position: relative;
        left: -20px;
    }
    .home_sub-name,
    .home_sub-name{
        font-size: 13px;
    }
    .about_content a{
        padding: 10px 10px;
        top: -70px;
        border-radius: 8px;
    }
    .product p{
        left: -26%;
    }
    .product img{
        width: 180px;
    }
    .sub_heading{
        width: 80vw;
    }
}
@media(max-width: 340px){
    .home_s2_left img{
        left: -25px;
        width: 90px;
    }
    .home_s1_txt{
        top: 0px;
    }
    .home_s1_txt h1{
        font-size: 25px;
        line-height: 27px;
    }
    .home_s1_txt p{
        font-size: 14px;
        line-height: 15px;
    }
    .drinks_s2{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .footer_img1{
        width: 120px;
    }
    .footer_img2{
        width: 100px;
        left: 4rem;
        top: -9rem;
    }
}
@media(max-width: 300px){
    .footer_img1{
        display: none;
    }
}





@media(max-width: 620px){
    .three_bar_visible{
        visibility: visible;
        left: 93%;
        transition: all 0.2s ease-in 0s;
    }
    .fflex_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: var(--dark-container-color);
        width: 200px;
        height: 110vh;
        padding: 55px 0px 350px 0px;
        position: relative;
        top: 250px;
        right: -240px;
        overflow: hidden;
        transition: all 1s ease-in 0s;
    }
    .drinks{
        margin: 0px;
    }
}
.screen_blur{
    filter: blur(5px);
    transition: all 0.2s ease 0s;
    /* -webkit-filter: blur(10px); */
}




/* === Floating Animation Keyframes === : By Snigdhendu */
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}

.float-animation {
  animation: floatUpDown 3s ease-in-out infinite;
}