/* ==================== Google fonts ==================== */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* ==================== CSS Variables ==================== */
:root{

    /* ==================== Font ==================== */
    --heading : 2.19rem;
    --medium-heading: 1.56rem;
    --font: 1.2rem;
    --small-font: 0.88rem;

    /* =============== background color =============== */
    --font-color: rgba(255, 249, 216, 0.82);
    --heading-color: rgb(255, 255, 255);
    --bg-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
    --container-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(59, 50%, 30%) 100%);
    --dark-container-color: linear-gradient(90deg, hsl(103, 33%, 27%) 0%, hsl(57, 56%, 33%) 100%);
    --btn-bg-color: #F4511F;

    /* ==================== Padding for btn ==================== */
    --padding-small-btn: 16px 28px;
}

/* ==================== Flex ====================: By Snigdhendu */
.fflex_row{
    display: flex;
    align-items: center;
}
.flex_row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}

/* ==================== BASE ====================: By Snigdhendu */
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html{
  scroll-behavior: smooth;
}

/* ==================== Body ====================: By Snigdhendu */
body{
    background: var(--bg-color);
    padding: 0 13%;
    overflow-x: hidden;
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ==================== Nav Bar ====================: By Snigdhendu */
.nav_bar{
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 80%;
    z-index: 5;
    height: 5rem;
    justify-content: space-between;
    color: var(--heading-color);
}

